<div class="panel panel-default">
    <div class="panel-heading">Informações do cliente</div>
    <div class="panel-body">
        <strong>Nome:</strong>
        <%= @client.name %>
    </p>

    <p>
        <strong>Endereço:</strong>
        <%= @client.address %>
    </p>

    <p>
        <strong>telefone:</strong>
        <%= @client.telephone %>
    </p>
    <%= link_to 'Editar', edit_client_path(@client), class: 'btn btn-primary' %>
    <%= link_to 'Voltar', clients_path, class: 'btn btn-default' %>
</div>
</div>
<div class="well">
    <%= link_to 'Novo pagamento', new_client_payment_path(@client) , class: 'btn btn-primary'%>
    Total pagamentos: <div class="btn btn-default"><%= number_to_currency @client.paid %></div> Total débitos: <div class="btn btn-danger">
        <%= number_to_currency @client.debit %></div>  Caixa: <div class="btn btn-default"><%= number_to_currency @client.cashier %>
    </div>
</div>
<p>
    <h2>Pagamentos</h2>
    <div class="panel panel-info">
        <div class="panel-heading">Pagamentos efetuados</div>
        <%= render :partial => 'payments/list_payment',:locals => { payments: @client.selection_payment(1) } %>
    </div>
    <h2>Débitos</h2>
    <div class="panel panel-danger">
        <div class="panel-heading">Débitos do cliente</div>
        <%= render :partial => 'payments/list_payment',:locals => { payments: @client.selection_payment(0) } %>
    </div>
