<%= form_for([@client,@payment],  html:{ class: 'form-horizontal'} ) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :valor %><br>
    <%= f.text_field :price,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :data %><br>
    <%= f.datetime_select :date_payment  %>
  </div>
  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.select :payment_type, options_for_select([:debito,:pago], :debito), {},class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :descrição %><br>
    <%= f.text_area :description,class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<hr>
<% end %>
