
<p>
  <strong>Banco:</strong>
  <%= @check.bank %>
</p>

<p>
  <strong>Agência:</strong>
  <%= @check.agency %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @check.account %>
</p>

<p>
  <strong>Numero cheque:</strong>
  <%= @check.number_check %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @check.holder %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @check.value_check %>
</p>

<p>
  <strong>Data emissão:</strong>
  <%= @check.date_emission %>
</p>

<p>
  <strong>Status check:</strong>
  <%= @check.status_check %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @check.phone_one %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @check.phone_two %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @check.description %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @check.client.name %>
</p>
<hr>
<%= link_to 'Editar', edit_check_path(@check), class: 'btn btn-default' %>
<%= link_to 'Voltar', checks_path, class: 'btn btn-default'  %>
